
<div class="material_info_block_{{ element_id }} well well-lg">
  <div class="row">
    <ul  class="list-unstyled col-xs-9">
      <li>Цвет:{{ title }}</li>
      <li>Коллекция:{{ collection }}</li>
      <li>Серия:{{ seria }}</li>
      <li>Производитель:{{ manufactur }}</li>
      <li>Тип материала:{{ material }}</li>
    </ul>
    <div class="col-xs-3">
    <img src="{{ prewiev }}" alt="{{ title }}" class="img-responsive">
    </div>
  </div>
</div>
<div class="clearfix"></div>