<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#query_price">{{ title }}</button>

<!-- Modal -->
<div id="query_price" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">

        <form  id="query_price_form" class="form-horizontal" >
          <div class="form-group">
            <label class="control-label col-sm-2" for="phone">{{ text_phone }}:</label>
            <div class="col-sm-10">
              <input type="numeric" class="form-control" id="phone" placeholder="{{ text_phone }}" name="email">
            </div>
          </div>
          <div class="form-group hidden">
            <label class="control-label col-sm-2" for="password">{{ password }}</label>
            <div class="form-group col-xs-12">
              <input class="form-control" type="password" autoComplete="current-password" value="{{ key }}" name="key">
              <input class="form-control keypres" type="text"  value="0" placeholder="Enter password" name="keypres">
              <input class="form-control " type="text"  value="query_price_form" placeholder="Enter password" name="forms"> 
              <input class="form-control " type="text"  value="{{ title_page }}" placeholder="" name="title">          
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">{{ text_name }}</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="name" placeholder="{{ text_name }}" name="name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="comment">{{ comment }}</label>
            <div class="col-sm-10">          
              <textarea  class="form-control" name="comment" id="comment" placeholder="{{ text_comment }}" cols="30" rows="5"></textarea>
            </div>
          </div>
        </form>

        <div class="row">        
          <div class="col-sm-offset-2 col-sm-10">
            <button id="query_price_form_send"  class="btn btn-lg btn-info pull-right">{{ text_send }}</button>
          </div>
        </div>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
      </div>
    </div>

  </div>
</div>

<script> 


  $( "#query_price_form_send" ).on( "click", function( event ) {

    if ( $('#query_price_form textarea').val() < 1) {
      
      $("#query_price_form textarea").before('<div class="alert alert-danger alert-dismissible">Оставьте ваше сообщение!<button type="button" class="close" data-dismiss="alert">×</button></div>');


    } else {

      $.ajax({
        url: 'index.php?route=mail/form',
        type: 'post',
        data: $( "#query_price_form" ).serialize(),
        dataType: 'json',
        success: function(json) {
    
          $("#query_price_form, .modal-footer").before('<div class="alert alert-success alert-dismissible">Сообщение отправлено!<button type="button" class="close" data-dismiss="alert">×</button></div>');
          $(".query_price_form > .form-group").hide();
          $('.close').alert('close');
          $("#query_price_form").trigger("reset");
          $("#query_price_form, .modal-header").after(json['return']);

        } ,
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          $("#query_price_form, .modal-footer").before('<div class="alert alert-danger alert-dismissible">Произошла ошибка повторите позже!<button type="button" class="close" data-dismiss="alert">×</button></div>');
        }

      });

    }
  });

  let query_price_keypress = 0; 
  $('#query_price_form textarea').keydown(function(e) {
    query_price_keypress++;
    console.log(query_price_keypress);
    $('#query_price_form .keypres').val(query_price_keypress) ;

  });

</script>