<div class="text-center contact_block">
    <a href="https://wa.me/" >
        <img style="height: 20px;" src="/image/catalog/logo/WhatsApp.png">
    </a>

    <a   href="viber://chat?number=%2B{{ href_phone }}">
        <img style="height: 20px;" src="/image/catalog/logo/viber.png">
    </a>
    <a href="tel:+{{ href_phone }}"><i class="fa fa-phone"></i>{{ phone }}</a>
    <a href="{{ address }}" >г. Абакан Молодежный 4П</a>
    <a href="mailto:{{ email }}" >{{ email }}</a>
</div>