{{ header }}
<div id="view-view" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      {% if loop.last %}
        <li><a>{{ breadcrumb.text }}</a></li>
      {% else %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endif %}
    {% endfor %}


    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
        {% for breadcrumb in breadcrumbs %}
          {% if loop.last %}
            {
              "@type": "ListItem",
              "position": {{ loop.index }},
              "name": "{{ breadcrumb.text }}",
              "item": "{{ breadcrumb.href }}"
            }
          {% else %}
            {
              "@type": "ListItem",
              "position": {{ loop.index }},
              "name": "{{ breadcrumb.text }}",
              "item": "{{ breadcrumb.href }}"
            },
          {% endif %}
        {% endfor %}
        
        ]
      }
      </script>
  </ul> 
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row"> {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-6' %}
        {% endif %}
        <div class="{{ class }}"> 

          {% if offers %}
          {% for offer in offers %}
          <div class="col-sm-6 " data-img="{{ offer.thumb }}" >
            <div class=" view-block">
              <a href="{{ offer.href }}">
                <img src="{{ offer.thumb }}" alt="{{ offer.product_name }}" class="img-responsive img-thumbnail">         
              </a>
              <div class="caption">
                <span  class="">
                  {{ offer.offer_name }}          
                </span>
                <a href="{{ offer.href }}" class="btn btn-info btn-block">
                  {{ offer.price }}
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}


        </div>
        {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-6' %}
        {% endif %}
        <div class="{{ class }}">

          <h1>{{ heading_title }}</h1>
          <hr>

          {{ query_price }}
          <hr>
          
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            
            {% if description %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingdescription">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsedescription" aria-expanded="true" aria-controls="collapsedescription">
                      {{ tab_description }}
                    </a>
                  </h4>
                </div>
                <div id="collapsedescription" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingdescription">
                  <div class="panel-body">
                    {{ description }}
                  </div>
                </div>
              </div>
            {% endif %}
             {% if attribute_groups %}
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingspecification">
                 <h4 class="panel-title">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsespecification" aria-expanded="true" aria-controls="collapsespecification">
                     {{ tab_attribute }}
                   </a>
                 </h4>
               </div>
               <div id="collapsespecification" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingspecification">
                 <div class="panel-body">
                   <div class="tab-pane" id="tab-specification">
                     <table class="table table-bordered">
                       {% for attribute_group in attribute_groups %}
                       <thead>
                         <tr>
                           <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                         </tr>
                       </thead>
                       <tbody>
                       {% for attribute in attribute_group.attribute %}
                       <tr>
                         <td>{{ attribute.name }}</td>
                         <td>{{ attribute.text }}</td>
                       </tr>
                       {% endfor %}
                       {% if manufacturer %}
                       <tr>
                         <td>{{text_manufacturer }}</td>
                         <td><a href="{{ manufacturers }}">{{ manufacturer }}</a></td>
                       </tr>
                       {% endif %}
                       <tr>
                         <td>{{ text_model }}</td>
                         <td>{{ model }}</td>
                       </tr>
                       <tr>
                         <td>{{ text_stock }}</td>
                         <td>{{ stock }}</td>
                       </tr>
                         </tbody>
                       {% endfor %}
                     </table>
                   </div>
                 </div>
               </div>
             </div>
             {% endif %}
  
             {% if images_additional %}
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingimages">
                 <h4 class="panel-title">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseimages" aria-expanded="true" aria-controls="collapseimages">
                     {{ tab_images }}
                   </a>
                 </h4>
               </div>
               <div id="collapseimages" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingimages">
                 <div class="panel-body">
                   {% if products or additional_images %}
                   <div class="tab-pane " id="tab-images">
       
       
  
                    
                      <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">        
  
   
                        {% if images_additional %}
                        {% for image in images_additional %} 
        
                        <figure class="col-sm-4 col-xs-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                          <a href="{{ image.popup }}" itemprop="contentUrl" data-size="1024x1024">
                              <img src="{{ image.thumb }}" itemprop="thumbnail" class="img-responsive img-thumbnail" alt="{{ image.title }}" />
                          </a>
                          <figcaption itemprop="caption description">{{ image.name }}</figcaption>
                        </figure>
        
                        {% endfor %}
                        {% endif %} 
                      </div>
  
  
                     </div> 
       
                   </div>    
                   {% endif %}
                 </div>
               </div>
             </div>
             {% endif %}
  
             {% if options  %}
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingoptions">
                 <h4 class="panel-title">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseoptions" aria-expanded="true" aria-controls="collapseoptions">
                     {{ text_option }}
                   </a>
                 </h4>
               </div>
               <div id="collapseoptions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingoptions">
                 <div class="panel-body">
                   {% if options %}
                   <hr>
                   <h3>{{ text_option }}</h3>
                   {% for option in options %}
                   {% if option.type == 'select' %}
                   <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.view_option_id }}">{{ option.name }}</label>
                     <select name="option[{{ option.view_option_id }}]" id="input-option{{ option.view_option_id }}" class="form-control">
                       <option value="">{{ text_select }}</option>
                       {% for option_value in option.view_option_value %}
                       <option value="{{ option_value.view_option_value_id }}">{{ option_value.name }}
                       {% if option_value.price %}
                       ({{ option_value.price_prefix }}{{ option_value.price }})
                       {% endif %} </option>
                       {% endfor %}
                     </select>
                   </div>
                   {% endif %}
                   {% if option.type == 'radio' %}
                   <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label">{{ option.name }}</label>
                     <div id="input-option{{ option.view_option_id }}"> {% for option_value in option.view_option_value %}
                       <div class="radio">
                         <label>
                           <input type="radio" name="option[{{ option.view_option_id }}]" value="{{ option_value.view_option_value_id }}" />
                           {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                           {{ option_value.name }}
                           {% if option_value.price %}
                           ({{ option_value.price_prefix }}{{ option_value.price }})
                           {% endif %} </label>
                       </div>
                       {% endfor %} </div>
                   </div>
                   {% endif %}
                   {% if option.type == 'checkbox' %}
                   <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label">{{ option.name }}</label>
                     <div id="input-option{{ option.view_option_id }}"> {% for option_value in option.view_option_value %}
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" name="option[{{ option.view_option_id }}][]" value="{{ option_value.view_option_value_id }}" />
                           {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                           {{ option_value.name }}
                           {% if option_value.price %}
                           ({{ option_value.price_prefix }}{{ option_value.price }})
                           {% endif %} </label>
                       </div>
                       {% endfor %} </div>
                   </div>
                   {% endif %}
                   {% if option.type == 'text' %}
                   <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.view_option_id }}">{{ option.name }}</label>
                     <input type="text" name="option[{{ option.view_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.view_option_id }}" class="form-control" />
                   </div>
                   {% endif %}
                   {% if option.type == 'textarea' %}
                   <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.view_option_id }}">{{ option.name }}</label>
                     <textarea name="option[{{ option.view_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.view_option_id }}" class="form-control">{{ option.value }}</textarea>
                   </div>
                   {% endif %}
                   {% if option.type == 'file' %}
                   <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label">{{ option.name }}</label>
                     <button type="button" id="button-upload{{ option.view_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                     <input type="hidden" name="option[{{ option.view_option_id }}]" value="" id="input-option{{ option.view_option_id }}" />
                   </div>
                   {% endif %}
                   {% if option.type == 'date' %}
                   <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.view_option_id }}">{{ option.name }}</label>
                     <div class="input-group date">
                       <input type="text" name="option[{{ option.view_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.view_option_id }}" class="form-control" />
                       <span class="input-group-btn">
                       <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                       </span></div>
                   </div>
                   {% endif %}
                   {% if option.type == 'datetime' %}
                   <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.view_option_id }}">{{ option.name }}</label>
                     <div class="input-group datetime">
                       <input type="text" name="option[{{ option.view_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.view_option_id }}" class="form-control" />
                       <span class="input-group-btn">
                       <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                       </span></div>
                   </div>
                   {% endif %}
                   {% if option.type == 'time' %}
                   <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.view_option_id }}">{{ option.name }}</label>
                     <div class="input-group time">
                       <input type="text" name="option[{{ option.view_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.view_option_id }}" class="form-control" />
                       <span class="input-group-btn">
                       <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                       </span></div>
                   </div>
                   {% endif %}
                   {% endfor %}
                   {% endif %}
                 </div>
               </div>
             </div>
             {% endif %}
  
             {% if video_overview %}
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingvideo">
                 <h4 class="panel-title">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsevideo" aria-expanded="true" aria-controls="collapsevideo">
                     {{ tab_video }}
                   </a>
                 </h4>
               </div>
               <div id="collapsevideo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingvideo">
                 <div class="panel-body">
                   
                   <div class="embed-responsive embed-responsive-16by9">
                     <iframe src="{{ video_overview.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                   </div>
                   <a href="/index.php?route=product/category_video&path={{ video_overview.category_id }}">{{ text_more_video }}</a>
  
                 </div>
               </div>
             </div>
             {% endif %}
  
             {% if video_installation %}
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingvideo_installation">
                 <h4 class="panel-title">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsevideo_installation" aria-expanded="true" aria-controls="collapsevideo_installation">
                     {{ tab_video_installation  }}
                   </a>
                 </h4>
               </div>
               <div id="collapsevideo_installation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingvideo_installation">
                 <div class="panel-body">
                 
                   <div class="embed-responsive embed-responsive-16by9">
                     <iframe src="{{ video_installation.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                   </div>
                   <a href="/index.php?route=product/category_video&path={{ video_installation.category_id }}">{{ text_more_video }}</a> 
  
                 </div>
               </div>
             </div>
             {% endif %}
             <div class="">
              <a href="/index.php?route=product/configurator">
                <video style="width: 100%;" autoplay="" loop="" muted="" playsinline="" class="home-baner_block-source">
                  <source src="/video/configurator.mp4">
                </video>
              </a>
              <h3 class="bg-warning text-center home-baner_block-title">Конфигуратор дизайна дома</a></h3>
          </div>


          <table id="variants" hidden class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-left">{{ text_offer_id }}</td>
                <td class="text-left">{{ text_image }}</td>
                <td class="text-left">{{ text_name }}</td>
                <td class="text-left">{{ text_price }}</td>
              </tr>
            </thead>
            <tbody>
                {% for offer in offers %}
                    <tr>
                      <td class="text-left">{{ offer.offer_id }}</td>
                      <td class="text-left">
                        <img src="{{ offer.thumb }}" alt="{{ offer.name }}">
                       </td>

                      <td class="text-left">{{ offer.name }}</td>
                      <td class="text-left">{{ offer.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>

            </tfoot>
          </table>


            </div>
      </div>
      {% if views %}
      <h3>{{ text_related }}</h3>
      <div class="row"> {% set i = 0 %}
        {% for product in views %}

        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="product-thumb">
            <div class="image">
              <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
            </div>
            {% if product.images %}
            <!-- Swiper -->
              <div class="swiper-container product-images mySwiperView">
                <div class="swiper-wrapper">
                  {% for image in product.images %}
                  <div class="swiper-slide" data-swiper-autoplay="2000">
                    <img src="{{ image }}" title="" alt="" class="img-responsive img-thumbnail" />
                  </div>
                  {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
          {% endif %}
            <div>
              <div class="caption text-center">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              </div>
            </div>
          </div>
        </div>

        {% endfor %} 
      </div>
        {% endif %}
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=view/view/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'view_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#view input[type=\'text\'], #view input[type=\'hidden\'], #view input[type=\'radio\']:checked, #view input[type=\'checkbox\']:checked, #view select, #view textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 
{{ footer }} 
